


*{
    font-family: 'Roboto', sans-serif;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.square {
    width: 163px;
    height: 163px;
    border: 3px solid;
    box-sizing: border-box;
    border-radius: 10px;
    border-color: #3882f6;
}

.boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text{
    width: 150px;
    padding: 10px;
    text-align: center;
}

.some{
    font-family: 'Roboto', sans-serif;
    font: bolder;
    font-size: 36px;
}

.footer{
    display: flex;
    background-color: #3882f6;
    justify-content: space-around;
    color: white;
    margin: 100px 100px;

}
.right{
    display: flex;
    align-items: center;
}
.right button{
    background-color: #3882f6;
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    width: 132px;
    height: 40px;
    padding: 1px;
}

.bottom button{
    background-color: #3882f6;
    color: white;
    border: 3px solid #1f2937;
    border-radius: 10px;
    width: 132px;
    height: 40px;
    padding: 1px;
}

.first{
    background-color: #1f2937;
    display: flex;
    color: white;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
}
nav {
    background-color: #1f2937;
    /* display: flex; */
    


}

.quote h1{
    /* font: 36px light italic #1F2937' */
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    display: flex;
    justify-content: center;
}
.quote h2{
    font-weight: 900;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    align-self: flex-end;
    margin-right: 350px;
}

.quote h1{
    display: flex;
    flex-direction: column;
    width:800px
    ;
    justify-content: center;
    align-items: center;

}
.quote{
    padding: 70px;
    justify-content: center;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-grow: 1;
    margin-right: 300px;
    flex: auto;

}

.push-left{
    margin-right: auto;
    margin-left: 270px;
}

.bottom{
    display: flex;
    flex-direction: row;
    margin-left: 300px;
    width: 100%;
    gap: 50px;
}

.bottom h1{
    color: #F9FAF8;
    font-weight: bold;
    font-size: 48px;
}

.main_title{
    margin-bottom: 0;
    width: 520px;
}

img{
    width: 500px;
    height: 200px;
}

.right_box{
    display: flex;
    justify-content: flex-start;
    flex: auto;
    width: 100%;
    margin-right: 250px;
    align-items: center;
}

.left_box{
    width: 550px;
    margin-bottom: 50px;
    align-items: center;
}

